@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Georgia-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Palatino Linotype";
    src: url(../fonts/Palatino_Linotype-Regular.ttf) format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Georgia";
    overflow-x: hidden;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    background: #FAFAFA;
border-radius: 0px;
}
.header{
    background-color: #fff;
}
.header_wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.header_container
{
    max-width: 1200px;
    margin: 0 auto;
}
.menu_list
{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.menu_link
{
    color: black;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #353732;
border-bottom: 1px solid transparent;
padding-bottom: 5px;
transition: 0.3s;
}
.menu_link:hover
{
    border-bottom: 1px solid #000;
}
