@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Georgia-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Palatino Linotype";
    src: url(../fonts/Palatino_Linotype-Regular.ttf) format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Georgia";
}
.containerH{
    width: 1200px;
    margin: 0 auto;
}
.container{
    width: 800px;
    margin: 0 auto;
}